.post-info {
  bottom-margin: 20px;
  color: #999999;
}

.right {
  float: right;
}

ul.recent-posts { padding-left: 10pt; }
.recent-posts li { list-style-type: none; }

ul.angles { padding: 0px;}

ul.angles li { list-style-type: none;}

a.btn.continue:hover { background-color: #0085A1; color: #ffffff; }
.post-heading .tags a { color: #ffffff; text-decoration: underline; }
